.userHome-div{
    background-color: white;
}
.userHomeSidebar{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding-top: 15px;
    cursor: pointer;
}
.hrLine{
    border-left: 1px solid rgb(200, 196, 196);
    height: 550px;
    position: absolute;
    left: 350px;
    margin-left: -3px;
    top: 0;
    margin-top: 120px;
}
.userHome-content2{
    display: flex;
    flex-direction: row;
    float: right;
    gap:30px;
}
.userMainContent{
  margin-left: 80px;
  margin-top: 30px;
}


.userProfile-mainContainer{
    background-color: white;
}
.userProfileHeader{
    height:30px;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}
.userProfileExclusive{
    margin-top: 0px;
    margin-left: 0px;
    color: red;
}

.headings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
.headings h6:hover{
    box-shadow: 2px 2px red;
    cursor: pointer;
    /* background-color: rgb(219, 186, 199); */
    border-radius: 1px;
}
.headings2{
    width: 220px;
    height: 40px;
    gap: 34px;
    opacity: 0px;
    border: 1px solid transparent;
    color: grey;
    margin-top: 32px;
    background-color: rgb(248, 243, 243);
    font-size: 12px;
    padding:10px;
    font-style: poppins;
    letter-spacing: 1px;
    border-radius: 5px;
}
.icon1{
   
    width: 16px;
height: 16px;
top: 4px;
margin-left: 18px;
gap: 0px;
border: 1.5px 0px 0px 0px;
opacity: 0px;
color: #000000;
cursor: pointer;

}

.icons{
    display: flex;
    flex-direction: row;
  
    cursor: pointer;

}
.icon2{
    width: 28px;
    height: 18px;
    border: 1.5px 0px 0px 0px;
    color:#000000;
}
.icon3{
    margin-left: 20px;
    width: 30px;
height: 20px;
border: 1.5px 0px 0px 0px;
}
.logout{ 
  margin-left: 70px;
  margin-top: 0px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border-color:white;
  height:40px;
  width:80px;
  font-family: cursive;
}
