h1{
    text-align: center;
    /* color: rebeccapurple; */
    /* box-shadow: 5px 5px black; */
}

.imgs{
    height:180px;
    width:200px;
    margin-left: 0px;
    margin-top: 50px;
   }

.productOrder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.images{
    height:120px;
    width:150px;
    margin-left: 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.b1{
    width:100px;
    height:30px;
    padding: 2px;
}
.b2{
    width:120px;
    height:30px;
    padding: 2px;
}
.b1:hover{
    box-shadow: 3px 2px rgb(4, 157, 208);
}
.b2:hover{
    box-shadow: 3px 3px rgb(215, 142, 7);
}