.container-login {
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    line-break: 20px;
    line-height: 30px;
    border: 3px solid transparent;
    border-radius: 2px;
    margin-top: 10px;
}

h2 {
    justify-content: center;
    color: white;
    margin-left: 30px;
    margin-top: 100px;
}

p {
    color: white;
    margin-left: 30px;
    font-style: Arial, sans-serif;
    font-size: 18px;
}

/* .content{
background-color: #2874F0;
height:500px;
width:350px;
margin-left: 300px;
} */
.login-form1 {
    height: 550px;
    width: 550px;
    background-color: white;
}

.login-form1 p {
    color: grey;
    font-size: 12px;
    margin-top: 40px;
    word-spacing: 3px;
}

label {
    color: grey;
}

.login-Txt1-em {
    height: 30px;
    width: 250px;
    margin-top: 10px;
    margin-left: 72px;
}

.login-Txt2-pw {
    height: 30px;
    width: 250px;
    margin-left: 50px;
    margin-top: 0px;
}

.user-login-btn {
    margin-left: 150px;
    margin-top: 50px;
    height: 50px;
    width: 30%;
    background-color: rgb(28, 131, 28);
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
}

.user-forgot-btn {
    margin-left: 150px;
    margin-top: 20px;
    height: 50px;
    width: 30%;
    background-color: #DB4444;
    border: 1px solid transparent;
    color: white;
}

.loginImg {
    height: 550px;
    width: 350px;
    margin-left: 300px;
}

.login-form-flex-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-left: 50px;
    margin-top: 10px;
}